<section class="my-3 container">
  <div class="container">
    <div class="main-app p-4">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-3xl font-medium">Angular latest Task Manager</h1>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-12">
          <!-- add todo component -->
          <div class="add-todo-component"></div>
          <!-- todos component -->
          <div class="todos-component my-4">
            <div
              class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3"
              *ngIf="this.todos.length > 0; else elseBlock"
            >
              <div *ngFor="let todo of todos">
                <app-todo-item
                  (deleteTodo)="todoDelete($event)"
                  [todo]="todo"
                ></app-todo-item>
              </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="text-center py-10">
              <h1 class="text-2xl font-medium">No todos found</h1>
              <p class="text-gray-500">Please add a todo to get started</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
