<div>
  <div class="shadow-sm p-4 border rounded-md">
    <h3 class="title text-xl font-semibold">{{ todo.title }}</h3>
    <p class="description text-sm my-1 text-gray-500">
      {{ todo.description }}
    </p>
    <div class="action text-xs flex flex-wrap gap-1 items-center mt-4">
      <button class="bg-blue-50 text-blue-500 p-1 rounded-sm">Done</button>
      <button
        class="btn btn-primary bg-green-50 text-green-500 font-bold p-1 px-2"
      >
        Edit
      </button>
      <button
        class="btn btn-danger bg-red-50 text-red-600 p-1 px-2"
        (click)="onDeleteTodo(todo)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
